#### chi_Square

In [1]:
import pandas as pd
import seaborn as Snapshot
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv(r'C:\Users\SRIKANTH ADIPIREDDY\Desktop\VS Code\ANOVA\chi1__2__lyst1729241145055.csv')

In [3]:
data

     age intervals Experience intervals
0          41 - 50         6 - 10 Years
1          41 - 50         6 - 10 Years
2          31 - 40         6 - 10 Years
3          31 - 40         6 - 10 Years
4          18 - 30         6 - 10 Years
...            ...                  ...
1465       31 - 40        11 - 20 Years
1466       31 - 40         6 - 10 Years
1467       18 - 30         6 - 10 Years
1468       41 - 50        11 - 20 Years
1469       31 - 40         6 - 10 Years

[1470 rows x 2 columns]

In [4]:
data.dtypes

age intervals           object
Experience intervals    object
dtype: object

## creating expected table

In [5]:
data['age intervals'].value_counts()

age intervals
31 - 40    619
18 - 30    386
41 - 50    322
51 - 60    143
Name: count, dtype: int64

In [6]:
data['Experience intervals'].value_counts()

Experience intervals
6 - 10 Years     607
11 - 20 Years    340
Upto 5 Years     316
21 - 40 Years    207
Name: count, dtype: int64

In [8]:
ct=pd.crosstab(data['age intervals'],data['Experience intervals'],margins=True)

In [9]:
print(ct)

Experience intervals  11 - 20 Years  21 - 40 Years  6 - 10 Years  \
age intervals
18 - 30                          22              0           172
31 - 40                         190             20           308
41 - 50                          85            112           110
51 - 60                          43             75            17
All                             340            207           607

Experience intervals  Upto 5 Years   All
age intervals
18 - 30                        192   386
31 - 40                        101   619
41 - 50                         15   322
51 - 60                          8   143
All                            316  1470

In [15]:
from scipy import stats
chi2,p,dof,expected=stats.chi2_contingency(ct)

In [16]:
chi2

np.float64(679.971444973354)

In [17]:
p

np.float64(2.3598197667694664e-134)

In [18]:
dof

16

In [19]:
expected

array([[  89.27891156,   54.35510204,  159.38911565,   82.97687075,
         386.        ],
       [ 143.17006803,   87.16530612,  255.60068027,  133.06394558,
         619.        ],
       [  74.47619048,   45.34285714,  132.96190476,   69.21904762,
         322.        ],
       [  33.07482993,   20.13673469,   59.04829932,   30.74013605,
         143.        ],
       [ 340.        ,  207.        ,  607.        ,  316.        ,
        1470.        ]])

In [ ]:
chi1 = 26.296

* ho -> age intervel have relationship with the experience intervel
* h1 -> have no relationship with the experience

* chi2 orginal  is greater then the chi1 calculated